body {
	height: auto;
	width: fit;
	background-image: url(./image/lol-team.jpg);
	background-size: cover;
	background-position: center;

}

form {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 5px;
	width: auto;
	padding: 20px;

}

#title {
	color: white;
}

#description {
	color: white;
}